/* */
html, body, #app {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


input {
  border: none;
}

input:focus {
  outline: none;
}

#app {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

@media  screen and (max-device-width: 425px) {
  html {
    font-size: 12px;
  }

  #app {
    /* background-color: #ffaaaa; */
    flex-direction: column;
  }

  *.left {
    height: 100%;
    background-color: #a1a1a1;
  }
  *.main {
    height: 0;
    visibility: hidden;
  }
}

@media  screen and (min-device-width: 425px) and (max-device-width: 767px) {
  #app {
    background-color: #aaaaff;
  }
}

@media  screen and (min-device-width: 768px) {
  /* #app {
    background-color: #aaffaa;
  } */
  *.left {
    width: 25%;
    height: 100%;
    background-color: #cccccc;
  }
  *.main {
    width: 75%;
    height: 100%; 
    background-color: #f1f1f1;
  }
}

#interview {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
}

#interview p {
  padding:0 10px 0 10px;
  margin-top: -5rem;
  margin-bottom: 5rem;
}


#searchbar {
  width:100%;
  height: 3rem;
  background-color: #aaaaaa;
}

#searchbar input {
  height: 2.5rem;
  width: 80%;
  box-sizing: border-box;
  margin: 0.25rem 10% 0.25rem 10%;
  padding: 0 1rem;
  border: gray 0.1rem solid;
  border-radius: 1rem;
}

#navbar {
  width:100%;
  height: 3rem;
  background-color: #aaaaaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/* 
#mainpage>div{
  overflow: hidden;
} */

ul {
  height: 90%;
  list-style: none;
  /* background-color: #fff; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0rem;
  padding: 1rem 0 0 0;
  overflow-y: scroll;
  border-radius: 1rem;
  scroll-behavior: smooth;
}
ul::-webkit-scrollbar {display:none}

ul li{
  height: 10rem;
  width: 10rem;
  margin: 0 0 1rem 1rem ;
  background-color: #afffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}


li p{
  height: 3rem;
  width: 9rem;
  word-wrap:break-word;
  word-break:break-all;
  background-color: #aaaaff;
}